.Discover{
    .discover-logs{
        overflow-y: scroll;
        overflow-X: scroll;
        background-color: #444444;
        color:#81b214;
    }
    .discover-fancy{

    }
    .clrg{
        height: 30rem;
    }
}
