.Discover{
    .discover-logs{
        overflow-y: scroll;
        overflow-X: scroll;
        background-color: #444444;
        color:#81b214;
        scrollbar-color: #81b214 #444444;
        white-space: pre-line;
    }

    .clrg{
        height: 65vh;
    }
    .containterDiscover{
        max-width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
}
