.Discover{
    .discover-logs{
        overflow-y: scroll;
        overflow-X: scroll;
        background-color: #444444;
        color:#81b214;
        scrollbar-color: #81b214 #444444;
    }

    .clrg{
        height: 30rem;
    }
}
