setuptools
wheel
# netifaces
# netaddr
# psutil
mongoengine
flask
ansible
pygtail
boto3
python-dotenv
azure-common==1.1.25
azure-core==1.7.0
azure-mgmt-common==0.20.0
azure-mgmt-compute==13.0.0
azure-mgmt-core==1.0.0
azure-mgmt-network==11.0.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-resource==10.1.0
azure-mgmt-subscription==0.6.0
azure-storage-common==1.4.2
azure-storage-blob==12.5.0
azure-cli-core
flask_cors
keyrings.alt
PyJWT==v1.7.1
Quart-CORS
quart_jwt_extended
dnspython