setuptools
wheel
mongoengine==0.23.1
flask
ansible==3.0.0
pygtail
boto3==1.17.22
python-dotenv==0.15.0
azure-common==1.1.25
azure-core==1.7.0
Jinja2==3.0.3
azure-mgmt-common==0.20.0
azure-mgmt-compute==13.0.0
azure-mgmt-core==1.0.0
azure-mgmt-network==11.0.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-resource==10.1.0
azure-mgmt-subscription==0.6.0
azure-storage-common==1.4.2
azure-storage-blob==12.5.0
azure-cli-core
flask_cors==3.0.10
keyrings.alt==3.0
PyJWT==v1.7.1
quart==0.16.3
Quart-CORS==0.3.0
quart_jwt_extended==0.0.3
dnspython==2.1.0
google-cloud-compute==1.0.0
google-cloud-storage==2.1.0
google-api-python-client==2.37.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
gsutil==5.7
Werkzeug~=2.0.0
cassandra-driver==3.25.0
ansible-runner==2.3.1
netadrr==0.8.0

# fastapi clean up top dep once stable
uvicorn[standard]==0.17.6
fastapi==0.75.2
python-multipart==0.0.5
pydantic==1.9
passlib==1.7.4
bcrypt==3.2.2
# PyJWT==2.3.0
authlib==1.0.1