body,
html {
  font-family: Ubuntu !important;
  font-style: normal;
  font-weight: normal;
  height: 100%;
  background-color: #e5e5e5 !important;
}
html {
  scroll-behavior: smooth;
}
.Project {
  .CardSingin {
    border: 0 !important;
    border-radius: 0rem !important;
  }
  .FormStyle {
    padding: 1.5em;
  }
  .card-head {
    background-color: #0082FF;
    padding: 4rem 1rem 1rem 2rem;
    border-radius: 0.3rem 0.3rem 0 0;
    color: white;
  }
  .sub {
    font-size: 16px;
    color: whitesmoke;
  }

  h3 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal !important;
    font-size: 30px;
  }
  .btn-primary {
    background-color: #0082FF;
  }
  .Provider{
    text-align: center;
    
  }
  .Providerrow{
    margin-bottom: 10px;
  }
  .ProviderCol:hover{
    color:#0082FF;
  }
  .ProviderCol:visited{
    color:#0082FF;
  }
  .ProviderCol.active{
    color:#0082FF;
  }


}
