body, html {
  font-family: 'Ubuntu', sans-serif !important;
    font-style: normal;
    font-weight: normal;
        height: 100%;
   
      }
      html
      {
        scroll-behavior: smooth; 
      }
.SignIn{
  .FormStyle{
    padding: 2em;
  }
  .card-head {

    background-color: #0082FF ;
    padding: 4rem 40px 1rem 40px;
    border-radius: .3rem .3rem 0 0 ;
    color: white;
  
  }
  .sub{
    font-size: 16px;
    color: whitesmoke;
  }

  h3{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal !important;
    font-size: 30px;
  }
  .CardSingin{
    border-radius: .28rem;
  }
  .login{
    margin-top: 24px;
  }
  .passSpa{
    margin-top:16px;
  }
  .forgotPassword{
    padding-left: 0px;
  }
  .spaceCard{
    padding: 8px;
  }
.iconLogin{
  padding-left: 4px;
}
}