<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="./style.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>BlueThroat</title>
  </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="50">
        <nav *ngIf="!authService.isLoggedIn " class="navbar  navbar-default navbar-expand-lg navbar-light fixed-top">

            <a *ngIf="Navbardisp" class="navbar-brand"><h4>bluethroat</h4></a>
            <button *ngIf="Navbardisp" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="Toogleico"></span> Menu <i class="fa fa-bars"></i>
            </button>
            <div *ngIf="Navbardisp" class="collapse navbar-collapse" id="navbarSupportedContent">
              <!-- Uncomment when using about and contact -->
              <ul class="navbar-nav mr-auto">
              </ul>
          
          
              <!-- <a type="button" class="btn btn-warning link-btn" routerLink="signin">Sign In</a> -->
          
            </div>
          
          </nav>
          
   

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="col-md-7">
          <div class="card" >
            <div ><div class="card-head">
              <h3 >Create Workspace</h3>
              <p class="sub">Cloud migration made easy</p>
            </div></div>
            <div class="card-body">
         <form  class="register bg-blue" >
            <div class="form-group">
              <div class="form-group">
                <label for="formGroupExampleInput">Workspace Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Add name">
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Select Provide</label>
              <div class="row">

                <div class="col-md-4">
                  <div class="card h-100 CardSvg">
                    <div class="card-body  p-5">
                  <img class="svg1 " src="aws-2.svg" alt="Image description." />
                </div>
              </div>
                </div>

            <div class="col-md-4">
              <div class="card  CardSvg">
                <div class="card-body p-5">
              <img class="svg1" src="azure-1.svg" alt="Image description." />
            </div>
          </div>
            </div>

            <div class="col-md-4">
              <div class="card CardSvg">
                <div class="card-body p-5">
              <img class="svg1" src="google-cloud-1.svg" alt="Image description." />
            </div>
          </div>
            </div>

          </div>
            </div>
            <button type="submit" class="btn btn-secondary col-lg-12">Create Workspace <i class="fa fa-arrow-right" ></i></button>
      
          </form>
      
            </div>
          </div>
        </div>
        </div>
      </div>
    </body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>