/* You can add global styles to this file, and also import other style files */
body, html {
  font-family: Ubuntu !important;
  font-style: normal;
  font-weight: normal;
      height: 100%;
      background-color: #E5E5E5 !important;
    }
    html
    {
      scroll-behavior: smooth; 
    }
    h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal !important;
    font-size: 30px;
  }
  .sub{
    font-size: 16px;
    color: whitesmoke;
  }

.card-head {

  background-color: #1DA1F2 ;
  padding: 4rem 1rem 1rem 2rem;
  border-radius: .3rem .3rem 0 0 ;
  color: white;

}
  
.navbar-brand {
    margin-left: 5%;
    margin-Top: 2%;
    color: #1DA1F2 !important;
  }
  .btn-primary
  {
    background-color: #1DA1F2 !important;
    border-color: #1DA1F2 !important;
  }
form{
  padding: 2em;
}
.svg1{
  border: 0em !important;
}


.CardSvg{
  border-radius: 5% !important;
  border: 1px solid #dee2e6 ;
  
}

.CardSvg :hover{
  border-radius: 5% !important;
  border: 1px solid #1DA1F2 ;
  cursor: pointer;
  
}
.card :hover{
  filter: none;
}