.NetworkTable {
  .NetworkRow:hover {
    background-color: #e6e6e6;
  }
  .SubnetRow:hover {
    background-color: #e6e6e6;
  }
  .HostRow{
    border-top: 1px solid #ebebec;
    border-bottom: 1px solid #ebebec;
  }
}
