.NetworkTable {
  .NetworkRow:hover {
    background-color: #e6e6e6;
  }
  .SubnetRow:hover {
    background-color: #e6e6e6;
  }

}



.HostTable{
  .HostRow{
    border-top: 1px solid #ebebec;
    border-bottom: 1px solid #ebebec;
    margin: 0;
  }
  .HostRow:hover{
    background-color: #e6e6e6;
  
  }
}

.Subnet{
  .HostRow{
    margin: 0;
  }
  .rdColCenter
  {
    text-align: center;
    padding: 0px;
    overflow: hidden;
    margin: 0;
  }
  .btnCols{
    padding-right: .5vw;
  }
  .txts{
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

