.BluePrint {
  // background-color: #eeecec;
  .select-blueprint-edit {
    border-radius: 100px;
    color: #5c5c5c;
    background-color: #e6e6e6;
  }
  tr.expandable > td {
    box-shadow: inset 0 3px 6px -3px rgba(0, 0, 0, .2);
    padding: 0;
  }
  
  tr.expandable > td > .inner {
    margin: 15px;
    overflow: hidden;
  }
  //Css Table loading
  .bi-trash-fill:hover{
    color:0082FF;
    cursor: pointer;
  }
  .blueprint-edit-table{
    padding-right: 0px;
    padding-left: 0px;
    .table{
      border: 1px solid #0000004a;
    }

  }
  .NetworkRow:hover{
    background-color: #e6e6e6;
  }
  .SubnetRow:hover{
    background-color: #e6e6e6;
  }


  .blurprintTable{
    .card-body{
      padding: 0px;
    }
  }
  .bt-main{
    background-color: whitesmoke;
  }
  .bt-main:hover{
    background-color: gainsboro;
  }
}


