.MainHeaderComponent{
    .navbar-brand {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 1.4rem;
        color: #0082FF !important;
        padding-left: 2rem;
      }
  
}